:root {
    --primary: #3b3561;
    --primary-content: #bfbbda;
    --primary-dark: #272340;
    --primary-light: #4f4782;

    --secondary: #613545;
    --secondary-content: #dabbc6;
    --secondary-dark: #40232e;
    --secondary-light: #82475c;

    --background: #eeedf2;
    --foreground: #fbfbfc;
    --border: #dbdae5;

    --copy: #21202d;
    --copy-light: #595478;
    --copy-lighter: #7e78a0;

    --success: #356135;
    --warning: #616135;
    --error: #613535;
    --success-content: #bbdabb;
    --warning-content: #dadabb;
    --error-content: #dabbbb;
}

.light-mode {
    --background: #eeedf2;
    --foreground: #fbfbfc;
    --border: #dbdae5;

    --copy: #21202d;
    --copy-light: #595478;
    --copy-lighter: #7e78a0;
}

:root {
    --background: #16151e;
    --foreground: #21202d;
    --border: #38354b;
    
    --copy: #fbfbfc;
    --copy-light: #d4d2df;
    --copy-lighter: #9a96b5;
}

/* Lil basics */

body, html {
    height: 100vh;
    background-color: var(--background);
    color: var(--copy);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

#pointer {
    cursor: pointer;
}

#hidden {
    display: none;
}

/* Body layout */

body {
    display: flex;
}

/* Navbar */

.navbar {
    position: fixed;
    height: 100dvh;
    background-color: var(--primary);
    color: var(--primary-content);
    padding: 10px 10px;
    text-align: left;
    border-radius: 0 20px 20px 0;
    z-index: 2;
}

.navbar h1 {
    color: inherit;
}

.navbar a {
    transition: color 0.1s ease-out;
}

.navbar a:hover {
    text-decoration: underline;
    color: var(--secondary-content);
}

.navbar a {
    padding: 2px 0;
    gap: 2px;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.navbar .title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-content);
    gap: 6px;
    margin-left: 6px;
}

.navbar li {
    margin: 10px 0;
}

.navbar span {
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    transition: all 0.3s ease-out;
}

.navbar:hover span {
    width: 150px;
}

.navbar {
    transition: padding 0.3s ease-out;
}

.navbar:hover {
    padding: 10px 30pt;
}

.navbar hr {
    border: none;
    height: 2px;
    background-color: var(--primary-content);
}

.theme {
    cursor: pointer;
    user-select: none;
}

.light-mode .theme svg:nth-child(1) {
    display: none;
}

.dark-mode .theme svg:nth-child(2) {
    display: none;
}

/* Main Body  */

.main {
    width: 100vw;
    display: flex;
    justify-content: center;
    gap: 16px;
    align-items: start;
}

.content {
    height: 100vh;
    width: 560px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.content .head {
    background-color: var(--foreground);
    padding: 20px;
    border-radius: 20px;
    margin-top: 6px;
}

.content .filters{
    display: flex;
    align-items: center;
    margin-top: 4px;
    gap: 4px;
}

.content .filters .tag {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: var(--secondary-light);
    padding: 3px 8px;
    color: var(--secondary-content);
    border: none;
    font-size: 16px;
}

.content .filters .tag:hover {
    background-color: var(--secondary);
    cursor: pointer;
}

.content .filters .tag svg {
    transition: all 0.3s ease-out;
    height: 20px;
    width: 20px;
}

.content .filters .tag:hover svg {
    transform: rotate(90deg);
}

.content .posts .post {
    background-color: var(--foreground);
    padding: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: grid;
    grid-template: auto auto / minmax(0, 1fr) max-content;
    position: relative;
    word-wrap: break-word;
    gap: 6px;
    align-items: center;
    border: 1px solid var(--border)
}

.post .options-dots {
    grid-area: 1 / 2 / 3 / 3;
}

.post-category {
    color: var(--copy-lighter);
}

.options-dots:hover {
    background-color: var(--background);
    border-radius: 180px;
}

.options-wrap {
    position: relative;
    width: max-content;
}

.options.active {
    display: flex;
    position: absolute;
    background-color: var(--foreground);
    border: 2px solid var(--border);
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    left: 20px; 
    top: -24px;
}

.options {
    display: none;
}

.options a:hover {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.options button:hover {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}  

.options a, .options button {
    border: none;
    outline: none;
    user-select: none;
    text-decoration: none;
    background-color: var(--foreground);
    color: var(--primary-content);
    font-size: 15px;
    cursor: pointer;
    padding: 8px;
    width: 70px;
    border-radius: 10px;
    text-align: center;
}

.options a:hover, .options button:hover {
    background-color: var(--background);
    text-decoration: underline;
}

.comments-bar {
    background-color: var(--foreground);
    padding: 4px 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid var(--border);
    margin-bottom: 10px;
    align-items: center;
}

.comments-bar p {
    display: flex;
    justify-content: center;
    align-items: center;
}

li:has(.comments:not(.active)) .comments-bar p:nth-child(1) svg:nth-child(1) {
    display: none;
}

li:has(.comments.active) .comments-bar p:nth-child(1) svg:nth-child(2) {
    display: none;
}

.content .head {
    border: 1px solid var(--border);
}

.head hr {
    border: none;
    height: 2px;
    background-color: var(--primary-content);
    margin-bottom: 4px;
}

.comment {
    background-color: var(--foreground);
    padding: 20px;
    border: 0.5px solid var(--border);
    display: grid;
    grid-template: auto auto / minmax(0, 1fr) auto min-content;
    position: relative;
    word-wrap: break-word;
    gap: 6px;
    align-items: center;
}

.comment .comment-name {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 10px;
    color: var(--copy-light);
}

.comment .comment-date {
    grid-area: 1 / 2 / 2 / 4;
    margin-bottom: 10px;
    color: var(--copy-light);
}

.comment .comment-comment {
    grid-area: 2 / 1 / 3 / 3;
}

.comment .options-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-bar-comments, .comment-bar-new {
    transition: all 0.1s ease-out;
    color: var(--copy-light);
}

.comment-bar-comments:hover, .comment-bar-new:hover {
    color: var(--copy);
}

.comments {
    display: none;
}

.comments.active {
    display: block;
}

.create-comment {
    display: none;
    background-color: var(--foreground);
    padding: 20px;
    border: 0.5px solid var(--border);
    gap: 6px;
    align-items: center;
}

.create-comment.activenew {
    display: block;
}

li:has(.create-comment:not(.activenew)) .comments-bar p:nth-child(2) svg:nth-child(1) {
    display: none;
}

li:has(.create-comment.activenew) .comments-bar p:nth-child(2) svg:nth-child(2) {
    display: none;
}

.create-comment form {
    display: grid;
    grid-template: auto auto / auto auto auto;
}

.create-comment-name, .create-comment-comment, .create-comment-button {
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: var(--background);
    color: var(--copy);
    padding: 4px 8px;
    border: 1px solid var(--border);
}

.create-comment-name {
    grid-area: 1 / 1 / 2 / 2;
    margin-bottom: 1px;
}

.create-comment-comment {
    grid-area: 2 / 1 / 3 / 4;
    resize: none;
    height: 55px;
}

.create-comment-button {
    grid-area: 1 / 3 / 2 / 4;
    margin-bottom: 1px;
    background-color: var(--secondary-light);
    color: var(--secondary-content);
    border: none;
}

.create-comment-button:hover {
    background-color: var(--secondary);
}

.no-comment h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    color: var(--copy-lighter);
    background-color: var(--foreground);
    padding: 20px;
    border: 0.5px solid var(--border);
}

.no-post {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
    border-radius: 20px;
    color: var(--copy-lighter);
    background-color: var(--foreground);
    padding: 20px;
    border: 1px solid var(--border);
}

.no-post h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

/* Categories */

.categories {
    height: 100vh;
    width: 260px;
}

.search-field {
    background-color: var(--foreground);
    padding: 20px;
    border-radius: 20px;
    gap: 6px;
    align-items: center;
    border: 1px solid var(--border);
    margin-top: 6px;
    margin-bottom: 10px;
}

.categories hr {
    border: none;
    height: 2px;
    background-color: var(--primary-content);
    margin-bottom: 4px;
}

.search-field div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.categories .search-field input {
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: var(--background);
    color: var(--copy);
    padding: 4px 8px;
    border: 1px solid var(--border);
}

.categories .search-field button {
    border-radius: 4px;
    border: none;
    outline: none;
    border: 1px solid var(--border);
    background-color: var(--secondary-light);
    color: var(--secondary-content);
    padding: 4px 8px;
}

.categories .search-field button:hover {
    background-color: var(--secondary);
}

.search-categories {
    background-color: var(--foreground);
    padding: 20px;
    border-radius: 20px;
    gap: 6px;
    align-items: center;
    border: 1px solid var(--border);
    margin-top: 6px;
    text-align: center;
}

.search-categories ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.categories .search-categories button {
    border-radius: 4px;
    border: none;
    outline: none;
    border: 1px solid var(--border);
    background-color: var(--secondary-light);
    color: var(--secondary-content);
    padding: 4px 8px;
}

.categories .search-categories button:hover {
    background-color: var(--secondary);
}

.categories .search-categories select {
    border-radius: 4px;
    outline: none;
    border: none;
    background-color: var(--background);
    color: var(--copy);
    padding: 4px 8px;
    border: 1px solid var(--border);
}

.search-categories div {
    display: flex;
    justify-content: center;
    align-items: center;
}